.a154{
   background-color: black;
   font-size: 28px ;
   color: white;

}
body{
    background-image: url('https://media.contentapi.ea.com/content/www-easports/fr_FR/fifa/ultimate-team/news/2017/fut-18-path-to-glory-faq/_jcr_content/headerImages/image.img.png');
}
#block1{
    margin-top: 75px
}
a{
    margin-left: 12px;
    margin-right: 12px;
    font-size: 50px ;
    color: antiquewhite;
}
a:hover{
    color: black;
}
/* #image{
    display: inline;
    background-size: cover;
    overflow: hidden;
}
#image:hover{
 color: black;
} */
.blockc{
    font-size: 60px;
    color: white;
}
a:link{
    text-decoration: none;
}
.image1:hover{
  visibility: hidden;
}
.image2:hover{
    visibility: hidden;
  }
  .image3:hover{
    visibility: hidden;
  }
  .image4:hover{
    visibility: hidden;
  }
  .image5:hover{
    visibility: hidden;
  }
  .image6:hover{
    visibility: hidden;
  }
  .image7:hover{
    visibility: hidden;
  }
  .image8:hover{
    visibility: hidden;
  }